.ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title{
    width: 100%;
}
.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left{
    border-right: 0;
}
.ant-menu-submenu-arrow {
    display: none !important;
}

.ant-menu.ant-menu-sub {
    background-color: #245AA9 !important;
    box-shadow: none !important;
}
//siteSider
.ant-layout-sider{
    overflow: hidden;
    background: #19274E;
    .logo{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0px 40px;
        img{
            max-height: 40px;
        }
    }
    .ant-menu{
        height: 100vh;
        background: #19274E;
        .ant-menu-item{
            margin:0px;
            height:48px;
            line-height:48px;
            padding-left: 20px !important;
            a{
                color:#fff;
                font-size:1.6rem;
                i{
                    font-size: 2rem;
                    margin-right: .5rem;
                }
            }
            &.active{
                a{
                    color:#fff;
                }
                background-color: #1F3261;;
            }
            &:not(:last-child){margin:0px;}

        }
        .ant-menu-submenu{
            line-height: 48px;
            .ant-menu-submenu-title{
                font-size:1.6rem;
                color: #fff;
                padding-left: 20px !important;
                i{
                    font-size: 2rem;
                    margin-right: .5rem;
                }
            }
            .ant-menu-sub{
                height:auto;
                background:#19274E !important;
                li{
                    padding-left:4rem !important;
                }
                a{
                    font-size: 1.4rem;
                }
            }
            .ant-menu-item{

            }
        }
    }

    &:hover{
        // border-right:2px solid #fc5533;
        // box-shadow: 2px 0px 1px #fc5533;
        .line_bar{display: block}
    }
}

.line_bar{
    position: fixed;top:0px;bottom:0px;width: 2px;background:rgb(252, 96, 58);
    z-index: 9999;cursor: pointer;
    display: none;
}
.open_left{
    width: 32px;
    height: 40px;
    top: 38%;
    position: absolute;
    margin-top:-20px;
    border: 0px;
    border-left:0px;
    
    border-radius: 0px 5px 5px 0px;
    background: #0e3ea7;
    // transition: all .5s;
    // &:hover{
    //     border:1px solid #ddd;border-radius: 3px;
    // }
}