$fz12: 1.2rem;
$fz14: 1.4rem;
$fz16: 1.6rem;
$fz18: 1.8rem;
$fz20: 2rem;
$fz24: 2.4rem;
$fz26: 2.6rem;
$fz28: 2.8rem;
$fz30: 3rem;
$fz32: 3.2rem;
$fz34: 3.4rem;
$fz36: 3.6rem;
$fz40: 4rem;

header{
    height: 70px;
    line-height: 70px;
    font-size: $fz20;
    padding-left: 20px;
    background-color: #fff;
    box-shadow:0px 5px 20px 0px rgba(177,197,255,0.12);
}
.header_right{
    float: right;
    padding:0px 20px 0px 0px;
    font-size: $fz14;

    &>span{
        padding-right: 10px;
        margin-left:10px;
    }
    .avatar{
        margin-right: 10px;
        .ant-avatar{margin-right: 5px;}
    }
    a{
        color:#555;
        margin-left:5px;
        position: relative;
        top: -1px;
        i{
            font-size: $fz20;
            position: relative;
            top: 4px;
        }
        svg{width: 1.5em;height:1.5em;position: relative;top:3px;}
    }
}
.nav_path{
    // background: #eee;
    padding:15px 20px;
    color:#6B798E;
    span{
        color: #A9ACB1;
    }
}



